<div class="login-container">
  <div class="card card-container">
    <h1 class="new-post-header">Create A Post! </h1>
            <label style="margin-top: 3%;"><b>Title</b></label>
    <textarea
    id="title"
    rows="1"
      class="textarea has-fixed-size is-medium"
      placeholder="Give it a title!"
    ></textarea>
        <label style="margin-top: 3%;"><b>Content</b></label>
    <textarea
    id="post"
      class="textarea has-fixed-size is-medium"
      placeholder="Share what's on your mind!"
    ></textarea>
    <button class="post-btn button is-success is-fullwidth">Submit!</button>
  </div>
</div>
{{#if loggedIn}}
  <script src="js/createPost.js"></script>
{{/if}}