<div class="container" style="margin-top: 5%;text-align: center;">
    <h1 id="business_name">Tech Blog Posts</h1>

    <div class="row" style="margin-top: 5%;">
        <div class="col-sm-11">
            <ul class="list-group" style="opacity: 0.5;">
                {{#each fiveArr as |post| }}
                <li>
                    <div class="card" style="width: 18rem;">
                        <div class="card-body">
                        <a class="card-title" href="/comments/{{post.post_id}}">
                            {{post.title}}
                        </a>
                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                            <p class="card-text">{{fiveArr.content}}</p>
                        </div>
                    </div>
                </li>
                <br>
                {{/each}}
            </ul>
        </div>
    </div>
</div>