<div class="login-container">
  <div class="card card-container">
    <h1 class="login-header">Login </h1>
    <label for="uname"><b>Username</b></label>
    <input
      type="text"
      placeholder="Enter Username"
      name="name"
      id="username"
      class="input is-link login-field"
    /><br />
    <label for="psw" style="margin-top: 3%;"><b>Password</b></label>
    <input
      type="password"
      placeholder="Enter Password"
      name="psw"
      id="password"
      class="input is-link login-field"
    /><br />
    <button type="submit" class="button is-success is-fullwidth">Login</button><br />
        <div class="container signin" >
      <p>Don't have an account yet? <a href="/login">Sign Up!</a></p>
    </div>
  </div>
</div>
<script src="js/login.js"></script>