<div class="container">
    <div class="container Jumborton">
        <h1>Registration</h1>
        <hr>
        <label for="username"><b>Username</b></label></br>
        <input type="text" placeholder="Enter Username" name="username" id="username" ></br>
        <label for="password" style="margin-top: 3%;"><b>Password</b></label></br>
        <input type="password" placeholder="Enter Password" name="password" id="password"></br>
        <button type="submit" class="registerbtn" style="margin-top: 3%;">Register</button>
    </div>
    <div class="container signin" style="margin-top: 3%;">
        <p>Already have an account? <a href="/login">Sign in</a></p>
    </div>
</form>
</div>
<script src="js/signup.js"></script>